<!-- Pantalla Splash -->
<div id="splash" class="fixed inset-0 color-principal flex flex-col items-center justify-center text-stroke color-gold text-3xl texturina-semibold font-bold z-50" style="display: none;">
  <p class="">WEDDING</p>
  <p class="mb-6">INVITATION</p>
  <%= image_tag "image.png", alt: "Logo Wedding", class: "mx-auto w-60 h-60" %>

  <p class="">MAJLIS</p>
  <p class="">PERKAHWINAN</p>
</div>

<%= render 'shared/navbar' %>

<!-- Contenido Principal -->
<main class="md:px-6 lg:px-10">

    <!-- Textos en columna -->
    <div class="relative bg-white flex flex-col text-center space-y-4 text-black">

      <!-- Imagen de fondo del texto principal-->
      <div class="absolute inset-0 bg-center bg-no-repeat bg-contain opacity-8"
        style="background-image: url('<%= asset_path("castlle.jpg") %>');">
      </div>

      <p class="text-xl md:text-xl lg:text-2xl xl:text-3xl great-vibes mt-6">
        السلام عليكم ورحمة الله وبركاته
      </p>

      <p class="cormorant-garamond text-lg md:text-lg lg:text-xl">
        May peace, mercy and blessings be upon you
      </p>

      <p class="text-2xl md:text-2xl lg:text-3xl xl:text-4xl lobster-two-bold-italic">
        Hjh Amirba Binte Hj Abu Bakar <br>
        Hj Mohamed Kasim Bin Hj Mohd Ismail <br>
        Norjahan Binte Ya’akop
      </p>

      <p class="cormorant-garamond text-lg md:text-lg lg:text-xl">
        together with <br> bersama
      </p>
      <p class="text-2xl md:text-2xl lg:text-3xl xl:text-4xl lobster-two-bold-italic">
        Olga Maria Silva Lopez<br>
        Diego Folgar Villaverde
      </p>
      <p class="cormorant-garamond text-lg md:text-lg lg:text-xl">
        cordially invite you <br> dengan segala hormatnya mengundang anda
      </p>
      <p class="cormorant-garamond text-lg md:text-lg lg:text-xl">
        to the wedding reception of our children <br> ke majlis perkahwinan anakanda kami
      </p>
      <p class="text-2xl md:text-2xl lg:text-3xl xl:text-4xl lobster-two-bold-italic">
        Nur Aqilah Binte Hj Mohamed Kasim <br> & <br> Aaron Lorenzo Silva
      </p>
      <p class="cormorant-garamond text-lg md:text-lg lg:text-xl">
        Your presence is greatly appreciated. <br>
        Kehadiran dan doa restu anda amat dihargai.
      </p>
    </div>
  </div>

  <!-- Botón flotante abajo a la derecha -->
  <a href="#event-info"
    id="event-details-btn"
    class="fixed bottom-4 right-6 color-principal text-white px-3 py-1.5 rounded-full shadow-lg hover:bg-red-800 transition font-semibold z-40 flex items-center gap-2 hidden cormorant-garamond">
    <span>See Event Details</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17l4 4m0 0l4-4m-4 4V3" />
    </svg>
  </a>

  <div id="event-info">

    <!-- Logo central -->
    <div class="relative z-10 space-y-4 mt-7">
      <%= image_tag "image.png", alt: "Logo Wedding", class: "mx-auto w-60 h-60" %>
    </div>

    <!-- Sección de información del evento -->
    <section class="relative mt-2 mb-12 overflow-hidden p-10
                max-w-2xl md:max-w-1/2 lg:max-w-1/3 mx-auto">

      <!-- España arriba a la izquierda -->
      <div class="absolute top-0 left-0 opacity-10 pointer-events-none select-none z-0 pt-14 px-8">
        <%= image_tag "espana.png", alt: "Spain Map", class: "h-40 w-auto object-contain object-right" %>
      </div>
      <!-- Singapur abajo a la derecha, pegado al borde -->
      <div class="absolute bottom-0 right-0 opacity-10 pointer-events-none select-none z-0 flex items-end px-8 pb-12">
        <%= image_tag "singapur.jpg", alt: "Singapore Map", class: "h-40 w-auto object-contain object-right" %>
      </div>

      <!-- Información del evento -->
      <div class="relative z-10 cormorant-garamond text-base">
        <!-- Primera fila centrada -->
      <div class="grid grid-cols-[70px_1fr_1fr] gap-3 mb-4">
        <div class="text-left">
          <div class="text-gray-700">Typ</div>
          <div class="font-black eb-garamond-italic">WPA</div>
        </div>
        <div class="text-left">
          <div class="text-gray-700">Country Code</div>
          <div class="font-black eb-garamond-italic">SGP</div>
        </div>
        <div class="text-left">
          <div class="text-gray-700">Passport No</div>
          <div class="font-black eb-garamond-italic">16112025</div>
        </div>
      </div>


        <!-- Las demás filas alineadas a la izquierda -->
        <div class="mb-6 text-left">
          <div class="text-gray-700">Date</div>
          <div class="font-black eb-garamond-italic">16 NOV 2025</div>
          <div class="font-black eb-garamond-italic">25 JUMADA AWAL 1447</div>
        </div>
        <div class="mb-6 text-left">
          <div class="text-gray-700">Day</div>
          <div class="font-black eb-garamond-italic uppercase">Sunday</div>
        </div>
        <div class="mb-6 text-left">
          <div class="text-gray-700">Time</div>
          <div class="font-black eb-garamond-italic uppercase">Seated By: 12:45 pm</div>
          <div class="font-black eb-garamond-italic uppercase">Event Ends At: 4:00 pm</div>
        </div>
        <div class="text-left">
          <div class="text-gray-700">Venue</div>
          <div class="font-black leading-tight eb-garamond-italic">
            CROWNE PLAZA CHANGI AIRPORT<br>
            CHENGAL BALLROOM LEVEL 1
          </div>
        </div>
      </div>
    </section>

  </div>

</main>

<script>
  document.addEventListener("turbo:load", function() {
    const splash = document.getElementById("splash");
    const eventBtn = document.getElementById("event-details-btn");

    if (!localStorage.getItem("splashShown")) {
      splash.style.display = "flex";
      document.body.style.overflow = "hidden";

      const removeSplash = () => {
        splash.classList.add("page-turn");
        setTimeout(() => {
          splash.style.display = "none";
          document.body.style.overflow = "";
          localStorage.setItem("splashShown", "true");
          if (eventBtn) eventBtn.classList.remove("hidden");
        }, 1000);
      };

      document.addEventListener("click", removeSplash, { once: true });
      document.addEventListener("scroll", removeSplash, { once: true });
      document.addEventListener("keydown", removeSplash, { once: true });
      document.addEventListener("touchstart", removeSplash, { once: true });
    } else {
      if (eventBtn) eventBtn.classList.remove("hidden");
      splash.style.display = "none";
    }
  });
</script>
