<!DOCTYPE html>
<html>
  <head>
    <title>WeddingWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="flash-notice" class="fixed top-8 left-1/2 transform -translate-x-1/2 bg-green-500 text-white px-6 py-3 rounded-xl shadow-lg z-50 text-lg font-semibold">
        <%= flash[:notice] %>
      </div>
      <script>
        setTimeout(function() {
          var flash = document.getElementById('flash-notice');
          if (flash) { flash.style.display = 'none'; }
        }, 3000);
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
