<!DOCTYPE html>
<html>
  <head>
    <title>A&A</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap", rel: "stylesheet" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap", rel: "stylesheet" %>
    <!--Texturina-->
    <link href="https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">
    <%= favicon_link_tag "image.png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body>
    <% if flash[:notice] %>
      <div  id="flash-notice"
            class="fixed top-20 left-1/2 transform -translate-x-1/2
            bg-green-600 text-white px-6 py-3
            rounded-lg shadow-lg z-50 text-lg font-semibold
            cormorant-garamond max-w-2xl w-[80%] mx-auto text-center">
        <%= flash[:notice] %>
      </div>
      <script>
        setTimeout(function() {
          var flash = document.getElementById('flash-notice');
          if (flash) { flash.style.display = 'none'; }
        }, 3000);
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
